.column {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30;
}
.disabled { 
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}